@model IEnumerable<EA.ProjetoEnsalamento.Application.ViewModels.CursoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Curso")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroFase)
        </th>
        <th>
            @Html.DisplayName("Modalidade")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroFase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModalidadeViewModel.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CursoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CursoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CursoId })
        </td>
    </tr>
}

</table>
